{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'anchorsapp/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Video Portal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}"><b>ANCHORS</b></a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="search-bar">
            <form action="search.php" method="GET">
                <input type="text" name="search" placeholder="Search for videos or creators">
                <button type="submit">
                    <img src="search-icon.png" alt="Search">
                </button>
            </form>
        </div>
        <div class="user-profile">
            <img src="user-avatar.jpg" alt="User Avatar" id="user-avatar">
            <div class="dropdown-menu" id="dropdown-menu">
                <a href="#" id="user-profile-link">User Profile</a>
                <a href="#" id="account-settings-link">Account Settings</a>
                <a href="#" id="logout-link">Logout</a>
            </div>
        </div>
        <ul class="navbar-nav ml-auto">

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>

        </ul>
    </div>
</nav>

<header>
    <a href="{% url 'home' %}">
        <b><img src="logo.png" alt= "ANCHORS"  id="logo"></b>
    </a>

</header>


<body>
    <div class="container mt-5">
        <h1>Welcome to Your Video Portal</h1>
        <p>This is a place where you can explore and discover top-earning videos.</p>
        <a class="btn btn-primary" href="{% url 'upload_video' %}">Upload a Video</a>
    </div>
</body>

</html>