#logo {
    display: block;
    max-width: 100%;
    cursor: pointer;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}


/* styles.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    /* Header background color */
    color: #fff;
    /* Header text color */
}

.logo a {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* Style the search icon image */

.search-bar button img {
    width: 20px;
    height: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

.user-profile {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

#dropdown-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

#dropdown-menu a:hover {
    background-color: #f4f4f4;
}